/* header */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* dropdowns */
.var-dropdown {
  margin-right: 15px;
}

/* Map Rules */
.leaflet-container {background: #fff; height: 100%}

/* workaround for the NA in leaflet legend see https://github.com/rstudio/leaflet/issues/615 */
.leaflet-control div:last-child {clear: both;}

/* increase z-index for dropdowns to make sure they are above the map controls (see #7) */
.dropdown-menu {z-index: 1001;}

/* make sure all boxs take as much space as they can, so they all line up at the bottom */
.box {
  height: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
}

.row {
  display: flex;
}

.box-body {
    padding: 15px;
}

/* remove headers from all boxs */
.box-header {
  height: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

/* button styles */
.healthdown-button {
  border: 2px solid #08306B;
  color: #000;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .08em;
  background: white;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 5px;
}

.healthdown-button:hover {
  border: 2px solid #08306B;
  background-color: #08306B;
  color: #fff;
  cursor:pointer;
}

.shiny-output-error {
  margin-top: 20%;
  letter-spacing: .08em;
  text-align: center;
  width: 100%;
}

/*--------------------------------------------------------------
	Gridstack stuff
--------------------------------------------------------------*/
.grid-stack-item-content {
  background: white;
  border-radius: 10px;
  padding:5px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
  inset: 5px !important;
}

.box-body {
    padding: 15px;
}

.grid-stack-item-content .col-sm-12 {
  height: 100%;
  padding: 15px;
}

.grid-stack {
  width = 100vw;
}

.grid-stack-item-content::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.grid-stack-item-content::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

.grid-stack-item-content::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/* table */
.dataTables_scrollBody {
  height: fit-content !important;
  max-height: fit-content !important;
}
